
output/
.Rproj.user
R/.DS_Store
doc/Revision/~$sponses_to_Reviewers.docx
.DS_Store
doc/Revision/~$eli_growth_ms.docx
ldeli_growthrate/
doc/Fonti_Library.enl
doc/Fonti_Library.Data/sdb/pdb.eni
doc/Fonti_Library.Data/sdb/sdb.eni
doc/Heredity_R1/~$eli_growth_ms.docx
doc/Heredity_R1/~$eli_growth_ms_heredity_r1.docx
doc/Heredity_R1/~$sponses_to_Reviewers.docx

doc/Heredity_R1/~$eli_growth_ESM_heredity_r1.docx
