
kfold/
output/dartR/
output/rds/old_models/
output/G/
.Rproj.user
R/.DS_Store
doc/Revision/~$sponses_to_Reviewers.docx
.DS_Store
doc/Revision/~$eli_growth_ms.docx
ldeli_growthrate/
doc/Fonti_Library.enl
doc/Fonti_Library.Data/sdb/pdb.eni
doc/Fonti_Library.Data/sdb/sdb.eni
doc/Heredity_R1/~$eli_growth_ms.docx
doc/Heredity_R1/~$eli_growth_ms_heredity_r1.docx
doc/Heredity_R1/~$sponses_to_Reviewers.docx
doc/Heredity_R1/~$eli_growth_ESM_heredity_r1.docx
ldeli_growthrate
ESM_brms.qmd
ESM_brms.html
.gitignore
ESM_brms_files/
ESM_brms.docx
doc/Heredity/10523_0_art_file_186687_rl2p9x_convrt.pdf
Results_brms.qmd
doc/Heredity/10523_0_art_file_186687_rl2p9x_convrt.pdf
~$*.xlsx
naming_models.txt
Results_brms_files/
Results_brms_cache/
Results_brms*
*.pdf
Results_brms1*
ESM_brms1*
